# Database Configuration
DB_HOST=localhost
DB_PORT=8900
DB_USERNAME=test
DB_PASSWORD=your_password_here
DB_NAME=RecoNaija

# MongoDB for Agent State Persistence (Optional)
MONGO_URI=mongo_url

# PublicAI Gemma Model Configuration
GEMMA_API_KEY=api_key
GEMMA_BASE_URL="base_url"

EMBEDDING_API_URL=https://your-embedding-server.com
EMBEDDING_MODEL=nomic-embed

# Application Port
PORT=8000
